<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SKAPickerViewExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19B0AE3E20579EE6005AF1BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19B0AE5720579EE6005AF1BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19B0AE6220579EE7005AF1BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
